# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.6/en/server-configuration-defaults.html
[client]
port = 5107
socket = /var/run/mysql/mysql5107.sock


[mysqld]

# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M

# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin

# These are commonly set, remove the # and set as required.
# bind-address = 10.46.131.x

basedir = /data/usr/mysql
datadir = /data/usr/mysql-cluster/mysql004_jw/data
port = 5107
server_id = 195
socket = /var/run/mysql/mysql5107.sock
pid-file = /data/usr/mysql-cluster/mysql004_jw/mysql.pid
relay_log_recovery = 1
expire_logs_days = 7
#skip-grant-table

slave-skip-errors = all

skip-name-resolve
skip-external-locking


key_buffer_size = 32M
query_cache_size = 16M
query_cache_limit = 256M
tmp_table_size = 64M

max_heap_table_size = 256M
tmp_table_size = 256M


###Read-Only,can't modifi when server is running
innodb_buffer_pool_size = 4096M
##### innodb_log_file_size should be no more than 25% of innodb_buffer_pool_size ,and the maxium is 256M  ######
innodb_log_file_size = 256M
innodb_additional_mem_pool_size = 16M
innodb_log_buffer_size = 8M
tmpdir=/data/usr/mysql-cluster/mysql004_jw/data/temp
query_cache_type = 1
###

max_connections = 200

sort_buffer_size = 2M
read_buffer_size = 2M
read_rnd_buffer_size = 263K
join_buffer_size = 132K
###Read-Only
thread_stack = 201K
###
binlog_cache_size = 4M
log_bin_trust_function_creators = 1;


max_allowed_packet = 64M
table_open_cache = 2048
net_buffer_length = 1M
myisam_sort_buffer_size = 64M
max_length_for_sort_data =4096
event_scheduler = 1
thread_cache_size = 64
max_connect_errors = 200
slow_query_log=on
long_query_time=6
slow_query_log_file=/data/usr/mysql-cluster/mysql004_jw/logs/slowlogs/slow.log
thread_cache_size = 64
thread_concurrency = 8
binlog-format=ROW
log-slave-updates=true
gtid-mode=on
enforce-gtid-consistency=true
master-info-repository=TABLE
relay-log-info-repository=TABLE
sync-master-info=1
slave-parallel-workers=2
binlog-checksum=CRC32
master-verify-checksum=1
slave-sql-verify-checksum=1
binlog-rows-query-log_events=1
read-only = 1
sync_binlog = 1
innodb_flush_log_at_trx_commit = 2


replicate-wild-ignore-table = mysql.%
replicate-wild-ignore-table = temp.%
replicate-wild-ignore-table = test.%
replicate-wild-ignore-table = querylog.%
replicate-wild-ignore-table = information_schema.%
replicate-wild-ignore-table = performance_schema.%
replicate-wild-ignore-table = phpmyadmin.%


# These support master - slave replication  
log-bin = /data/usr/mysql-cluster/mysql004_jw/logs/binlogs/bin-log-mysqld 
log-bin-index = /data/usr/mysql-cluster/mysql004_jw/logs/binlogs/bin-log-mysqld.index  
 
max_binlog_size = 1024M
# Relay log settings
relay-log = /data/usr/mysql-cluster/mysql004_jw/logs/relaylogs/relay-log-mysqld
relay-log-index = /data/usr/mysql-cluster/mysql004_jw/logs/relaylogs/relay-log-mysqld.index
relay-log-space-limit = 4G

# Slow query log settings
#log-slow-queries = /opt/mysql3307/log/slow-log-mysqld
#long_query_time = 2
#log-queries-not-using-indexes

[mysqldump]
quick
max_allowed_packet = 512M

[mysql]
no-auto-rehash

[myisamchk]
key_buffer_size = 16M
sort_buffer_size = 2M
read_buffer_size = 2M
write_buffer_size = 64M

[mysqlhotcopy]
interactive-timeout
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M 

[mysql.server]  
user = mysql  
                                                                                                      
[mysqld_safe]  
log-error = /data/usr/mysql-cluster/mysql004_jw/logs/mysql-error.log  
pid-file = /data/usr/mysql-cluster/mysql004_jw/mysql.pid
#open-files-limit = 8192



sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES 
